.DS_Store
.idea/
venv/
*_venv*/
build/
dist/
*.spec
__pycache__/
mm_*
Test/
icon.ico
build-*/
*.stash
Makefile
Makefile.*
*.pro.user*
*resource.rc
TEST_*/
TEST_*/
build/
.qtc_*
.vscode/
Makefile
.user
Info_build.plist
webinterceptor_build.pro
